body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    width: 800px;
    margin: 50px auto;
}

.task {
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid #ddd;
}

.task.active {
    color: green;
    background: #A0EE5F;
}

.task.completed {
    color: #999;
    background: #eee;
}