{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks ({{ tasks|length }})</h1>

    {% for task in tasks %}
        {% if task.isCompleted %}{% set status = 'completed' %}{% else %}{% set status = 'active' %}{% endif %}

        <div class="task {{ status }}">
            ID: {{ task.id }}<br>
            Name: {{ task.name }}<br>
            Status: {{ status }}<br>
            Created at: {{ task.createdAt|date('d.m.Y H:i') }}
        </div>
    {% endfor %}
{% endblock %}