<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}To Do List{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/all.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
